body {
  background-color: white;
  font-family: 'Assistant', sans-serif;
  color: #F68D50;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #F3762E;
  color: white;
}

.btn-login:hover {
  background-color: blue;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: #F68D50;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #F3762E !important;
}

header {
  padding: 212px 0 147px;
  margin-top: -70px;
  background-image: url("../images/hd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header h1,
header p {
  color: white;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
}

header p {
  letter-spacing: 5px;
}

header .btn-get-started {
  background-color: #3159DC;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

header .btn-get-started:hover {
  background-color: #1335A5;
  color: white;
}

.section-stats {
  margin-top: -50px;
  border-radius: 5px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: white;
  padding-left: 58px;
}

.section-stats h2 {
  font-size: 30px;
  font-weight: bold;
}

.section-stats p {
  font-weight: 300;
  letter-spacing: 1px;
}

.section-popular {
  min-height: 540px;
  background-color: #F3762E;
  margin-top: -50px;
  margin-bottom: -250px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: white;
}

.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: black;
  color: white;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.section-popular-content .section-popular-travel .card-travel .travel-country {
  color: white;
}

.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 26px;
  color: white;
}

.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details {
  background-color: #3159DC;
  color: white;
}

.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details:hover {
  background-color: #1335A5;
  color: white;
}

.section-networks {
  background-color: white;
  margin-top: -180px;
  padding-top: 236px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 35px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebf0ff));
  background: linear-gradient(#fff 0%, #ebf0ff 100%);
  padding-top: 50px;
  min-height: 500px;
}

.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #F3762E;
}

.section-testimonial-content {
  margin-top: -220px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 50px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 380px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  color: gray;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  color: gray;
}

.section-testimonial-content .card-testimonial h3 {
  text-transform: uppercase;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #3159DC;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #1335A5;
  color: white;
}

.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
  font-size: 20px;
  letter-spacing: 1px;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #fafafa;
  color: black;
}

.section-footer a {
  color: #4D4D4D;
}
/*# sourceMappingURL=main.css.map */